trigger:
  branches:
    include:
      - main

pr:
  branches:
    include:
      - main

variables:
  acrName: dotnetacr12345
  acrLoginServer: dotnetacr12345.azurecr.io
  imageName: dotnet8-api
  appName: dotnet8-docker-api
  azureSubscription: Azure-Service-Connection
  dockerfilePath: Dockerfile
  tag: $(Build.BuildId)

stages:
#BUILD
- stage: Build
  displayName: Build and Push Docker Image
  jobs:
  - job: Build
    pool:
      name: 
        selfhostedcicd
    steps:
    - checkout: self

    - task: Docker@2
      displayName: Build and Push
      inputs:
        command: buildAndPush
        repository: $(imageName)
        dockerfile: $(dockerfilePath)
        containerRegistry: $(azureSubscription)
        tags: |
          $(tag)
          latest

#DEPLOY
- stage: Deploy
  displayName: Deploy to Azure App Service
  dependsOn: Build
  condition: succeeded()
  jobs:
  - job: Deploy
    pool:
      name:
        selhostedcicd
    steps:
    - task: AzureWebAppContainer@1
      displayName: Deploy container to App Service
      inputs:
        azureSubscription: $(azureSubscription)
        appName: $(appName)
        containers: |
          $(acrLoginServer)/$(imageName):latest
